body {
 
  font-family: 'Roboto', sans-serif;
  color: #666;
  background: #f5f5f5;
  font-size: 14px;
  color: #444;
  overflow-x: hidden;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;

}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.btn,
a.btn {
  background: #008fa1;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.btn:hover,
a.btn:hover {
  color: #fff;
  background: #00a5bb;
}



.header {
  background: #00BCD4;
  color: #fff;
}

.header a {
  color: #fff;
}

.header .top-bar {
  position: relative;
  padding-top: 15px;
  padding-bottom: 150px;
}

.header .social {
  margin-bottom: 0;
  list-style-type: none;
  margin-top: 3px;
  margin-left: -25px;
}

.header .social a {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 28px;
  border-radius: 50%;
  background-clip: padding-box;
  padding-top: 2px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  float: left;
  margin-right: 9px;
}

.header .social a:hover {
  color: #fff;
  border-color: #fff;
}

.header .actions {
  position: absolute;
  right: 0px;
  top: 25px;

}

.header .actions .fa {
  margin-right: 5px;
}

.header .actions a {
  margin-right: 10px;
  color: #fff;
}

.header .actions a:last-child {
  margin-right: 0;
}




.intro {
  background: #00a5bb;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.intro .profile-image {
   position: absolute;
  width: 160px;
  height: 160px;
  top: -80px;
  margin-left: -80px;
  left: 50%;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.intro .name {
  font-size: 48px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  color: white;

}

.intro .title {
  text-align: center;
  position: relative;
  color: white;
  font-size: 25px;
}

.intro .profile {
  text-align: center;
  position: relative;
  color: white;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-info {
  background: #008fa1;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
  text-align: center;
}

.contact-info ul {
  margin-bottom: 0;
}

.contact-info li {
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
  list-style-type: none;
  float: left;
  text-align: center;
  width: 30%;
 }

.contact-info li a {
  color: rgba(255, 255, 255, 0.8);
}

.contact-info li a:hover {
  color: #fff;
}

.contact-info li .fa {
  margin-right: 10px;
  padding-bottom: 20px;
}

/*--page-nav-wrapper--*/

.page-nav-space-holder {
  height: 60px;
  position: relative;
  z-index: 5;
}

.page-nav-wrapper {
  background: #007888;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.page-nav-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #00BCD4;
}
.page-nav-wrapper a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 500;
}
.page-nav-wrapper .page-nav {
  margin: 0 auto;
  display: inline-block;
}
.page-nav-wrapper .page-nav li {
  margin-right: 30px;
  display: inline-block;
  background: none;
}
.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
  background: none;
}
.page-nav-wrapper .page-nav li a {
  color: rgba(255, 255, 255, 0.6);
  padding: inherit;
}
.page-nav-wrapper .page-nav li a:hover {
  color: #fff;
}
.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
  background: none;
}
.page-nav-wrapper .page-nav li a.active {
  color: #fff;
  background: none;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  border-radius: 2px;
  background-clip: padding-box;
}

.experiences-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
  height: 400px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 24px;
  text-align: center;
}
.timeline {
  border-left: 3px solid #00BCD4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
}

.timeline .part {
  position: relative;
  margin-bottom: 45px;
}

.timeline .part:last-child {
  margin-bottom: 0;
}

.timeline .part:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-clip: padding-box;
  background: #fff;
  border: 3px solid #00BCD4;
}
.timeline .part:after {
  content: "";
  position: absolute;
  left: -36px;
  top: 7px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-clip: padding-box;
  background: #00BCD4;
  z-index: 10;
}

.timeline .work-place {
  position: relative;
}

.timeline .location {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a;
}

.timeline .location .fa {
  margin-right: 5px;
}

.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.timeline .job-position {
  position: absolute;
  left: -280px;
  top: 0;
}

.timeline .job-position .title {
  font-size: 18px;
  color: #00BCD4;
}

.timeline .job-meta .time {
  color: #8a8a8a;
}

.timeline .job-desc {
  color: #666;
}

.education-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
  height: 200px;

}

.education-section .part {
  margin-bottom: 45px;
}

.education-section .item-inner {
  padding: 0 30px;
}

.education-section .degree {
  font-size: 18px;
  color: #00BCD4;
  margin-top: 0;
  margin-bottom: 0px;
}

.education-section .education-body {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 16px;
}

.education-section .time {
  color: #8a8a8a;
  margin-bottom: 15px;
}

.education-section .desc {
  color: #666;
}

.education-section .col-1 {
  position: absolute;
  left: 150px;
  width: 400px;
  height: 120px;
}

.education-section .col-2 {
  position: absolute;
  left: 550px;
  width: 400px;
  height: 120px;
}

.education-section .col-3 {
  position: absolute;
  left: 950px;
  width: 300px;
  height: 120px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
 }
/*--skill-section--*/

.skills-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
}


.skills-section .subtitle {
  font-size: 18px;
  color: #8a8a8a;
  margin-top: 0px;
  margin-bottom: 45px;
  font-weight: 300;
  text-align: center;
}

.skills-section .top-skills {
  margin-bottom: 60px;
}

.skills-section .top-skills .item-inner{
  width: 33%;
  float: left;
  text-align: center;
}

.skills-section .skill-name {
  font-size: 20px;
}

.skills-section .level {
  color: #8a8a8a;
  margin-bottom: 15px;
}

.skills-section .desc {
  color: #666;
}

.other-skills .misc-skills {
  text-align: center;
}

.skills-section .skill-tag {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 6px 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #f5f5f5;
  font-weight: 550;
  margin-bottom: 15px;
  font-size: 16px;
}

.chart-pie {
  positon: relative;
}

.chart {
  width: 110px;
  height: 110px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}

.chart span {
  line-height: 110px;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/*====testimonials-section====*/

.testimonials-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
  height: 300px;
}

.testimonials-section .section-title {
  text-align: center;

}

 .testimonials-section .fa-quote-left {
  position: absolute;
  left: -40px;
  top: 20px;
  width: 40px;
  height: 28px;
  display: inline-block;
  background: #00BCD4;
  color: white;
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}


/*.testimonials-section .quote {
  border-left: none;
  padding: 0;
  font-size: 22px;
  color: #666;
  font-weight: 300;
  position: relative;
}*/

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Caption text */
.text {
  color: #666;
  font-size: 22px;
  padding: 8px 12px;
  position: relative;
  bottom: 20px;
  width: 85%;
  text-align: left;
  left: 80px;
}

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0;
  margin-right: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #00BCD4;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.source {
  color: #8a8a8a;
  text-align: left;
  padding-left: 100px;
}  

.source .name {
  color: #666;
  font-size: 16px;
}  

/*portfolio-section*/

.portfolio-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
  height: 800px;
}

.portfolio-section .filters {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio-section .filters .type {
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  color: #8a8a8a;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  
}

.portfolio-section .filters .type:last-child {
  margin-right: 0;
}

.portfolio-section .filters .type.active {
  color: #00BCD4;
  border-bottom: 2px solid #00BCD4;
  background-color: white;
}

.portfolio-section .item {
  float: left;
  width: 22%;
  padding-top: 5px;
  margin: 0 1.5% 30px 1.5%;
}

.portfolio-section .item .figure {
  margin: 0;
  padding: 0;
}
.portfolio-section .item .figure img {
  width: 100%;
}

.portfolio-section .item-inner {
  background: #00BCD4;
  color: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.portfolio-section .item-inner:hover {
  background: #00c5de;
}

.portfolio-section .item-inner:hover img {
  opacity: 0.9;
}

.portfolio-section .item-inner .content {
  padding: 30px;
  padding-bottom: 75px;
  position: relative;
}

.portfolio-section .item-inner .content a {
  color: #fff;
  text-decoration: none;
  background-color: #00BCD4;
}

.portfolio-section .item-inner .content .sub-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;

}

.portfolio-section .item-inner .content .meta {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.portfolio-section .item-inner .content .action {
  float: left;
  padding: 0;
  width: 88%;
  background-color: #00BCD4;
}

.portfolio-section .item-inner .link-mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
}

/*===contact-section===*/

.contact-section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 2px;
  margin-bottom: 45px;
  margin-left: 110px;
  margin-right: 110px;
  height: 550px;
  line-height: 25px;
}

.contact-section .intro {
  position: relative;
  padding: 20px;
  padding-left: 170px;
  font-size: 16px;
  color: #666;
  background-color: white;
}

.contact-section .intro .profile-image {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 100px;
  margin-top: 90px;
}

.contact-section .intro p {
  margin-bottom: 15px;
}

.contact-section .list-unstyled {
  margin-left: 5px;
  margin-bottom: 15px;
}

.contact-section .list-unstyled li {
  margin-bottom: 15px;
  list-style-type: none;
}

.contact-section .list-unstyled .fa {
  color: #00BCD4;
}

.contact-section .social {
  margin-bottom: 0;
}

.contact-section .social li {
  margin-right: 10px;
  list-style-type: none;
  display: inline;
}

.contact-section .social li:last-child {
  margin-right: 0;
}

.contact-section .social a {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: #8a8a8a;
}
.contact-section .social a:hover {
  color: ;
}

.contact-section .info {
  color: #00BCD4;#00BCD4
  text-decoration: none;
}

.contact-section .info:hover {
  text-decoration: underline;
}

.footer .container {
  padding: 30px;
  color: #8a8a8a;
  letter-spacing: 0.5px;
  text-align: center !important;
}

.copyright {
  font-size: 80%;
  font-weight: 400;
}

.footer .container a {
  color: #8a8a8a;
  text-decoration: none;
}

.footer .container a:hover {
  text-decoration: underline;
}

.scroller {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: inline-block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 30;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #008fa1;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 36px;
  height: 36px;
  text-align: center;
  background-clip: padding-box;
}

#myBtn .fa {
    position: relative;
    bottom: 3px;
    font-size: 25px;
    font-weight: normal;
  }

#myBtn:hover {
  background-color: #007888;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .social {
    margin: 0 auto;
    text-align: center;
  }
  .header .actions {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .header .actions .btn {
    margin-bottom: 15px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
   }

  .header .actions .btn:last-child {
    margin-bottom: 0;
  }
  .header .name {
    font-size: 36px;
  }
  .header .title {
    font-size: 22px;
  }
  .header .contact-info li {
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
  }
  .header .contact-info li:last-child {
    margin-bottom: 0;
  }
  .section {
    padding: 30px;
  }
  .section-title {
    font-size: 20px;
  }
  .timeline {
    margin-left: 0;
    padding-right: 0;
  }
  .timeline .place {
    margin-bottom: 5px;
  }
  .timeline .job-meta {
    position: static;
    margin-bottom: 15px;
  }
  .education-section .item {
    padding: 0;
  }
  .portfolio-section .filters .type {
    font-size: 12px;
    margin-right: 5px;
    padding: 8px 5px;
  }
  .portfolio-section .item-inner .content {
    padding: 15px;
  }
  .portfolio-section .item-inner .content .sub-title {
    font-size: 14px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .portfolio-section .item-inner .content .meta {
    margin-bottom: 30px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .portfolio-section .item-inner .content .action {
    position: static;
    font-size: 12px;
  }
  .contact-section .intro {
    padding: 0;
    text-align: center;
  }
  .contact-section .intro .profile-image {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .contact-section .service-list {
    margin-left: 0;
  }
  .contact-section .social {
    margin: 0 auto;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* X-Large devices (large desktops, 1400px and up) */